.container{
    
    margin-right: auto;
    align-items: center;
    align-content: center;
    background-position: center;
   
   
}
.botaoCadEvento{
    width: 100px;
    height: 30px;
    background-color: green;
    color: #fff;
    border-radius: 3px;
    padding-left: 10px;
    padding-top: 3px;
    position:absolute;
    right: 15%;
    top:130px;
}
.btDelete{
    background-color: #fff;
    border: 0;
} 
.btDelete:hover{
    background-color: #f0f0f5;
}
.btLista{
    background-color: #fff;
    border: 0;
}
.btLista :hover{
    background-color: #f0f0f5;
}
