#btn {
  display: none;
}
#btn:checked + .holder .fake {
  display: none;
}
#btn:checked ~ .blur {
  filter: blur(0);
}
.holder {
  position: relative;
  z-index: 2;
}
.btn {
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #000;
  color: #fff;
  position: absolute;
  cursor: pointer;
}
.blur {
  filter: blur(6px);
}